<ion-header>
  <ion-toolbar>
    <ion-title>
      Alimentos Saludables
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo-container">
    <div class="logo-text"><span class="logo-highlight">Fit</span>Nutrition <span class="logo-highlight2">APP</span></div>
  </div>

  <!-- Primera tarjeta - Comida Sana -->
  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Segunda tarjeta - Comida Alta en Proteína -->
        <ion-card>
          <ion-card-content >
            <ion-icon name="nutrition-outline"></ion-icon>
            <p>Comida Alta en Proteína</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6">
        <!-- Tercera tarjeta - Comida Hipocalórica -->
        <ion-card>
          <ion-card-content >
            <ion-icon name="flame-outline"></ion-icon>
            <p>Comida Hipocalórica</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- Cuarta tarjeta - Comida Hiper-Calórica -->
        <ion-card>
          <ion-card-content >
            <ion-icon name="flame-sharp"></ion-icon>
            <p>Comida Hiper-Calórica</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>

<!-- FOOTER // TABS -->
  
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
