
  
  <ion-content class="ion-padding">
  
    <div class="logo-container">
      <div class="logo-text"><span class="logo-highlight">Fit</span>Nutrition <span class="logo-highlight2">APP</span></div>
    </div>


    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- Primera tarjeta - CrossFit -->
          <ion-card>
            <ion-card-content (click)="gotoCROSSFIT()">
              <ion-icon name="walk-outline"></ion-icon>
              <p>CrossFit</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="6">
          <!-- Segunda tarjeta - Yoga -->
          <ion-card>
            <ion-card-content >
              <ion-icon name="body-outline"></ion-icon>
              <p>Yoga</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <!-- Tercera tarjeta - Pesas -->
          <ion-card>
            <ion-card-content (click)="gotoPESAS()">
              <ion-icon name="barbell-sharp"></ion-icon>
              <p>Pesas</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
    
    <ion-button color="danger" style="object-position: center; text-align: center;"   (click)="presentAlert()">Información Relevante</ion-button>
  
  </ion-content>
  
  <!-- FOOTER // TABS -->
    
  <ion-footer>
    <ion-toolbar>
      <app-tabs></app-tabs>
    </ion-toolbar>
  </ion-footer>
  


