<ion-content class="ion-padding">
  
  <div class="image-container">
    <img src="../../../../assets/img/tired-male-athlete-having-a-break-in-a-gym-royalty-free-image-1582892847.jpg" alt="Imagen de inicio">
  </div>
  
  <h5 class="parrafo1">
    En FitNutrition, entendemos lo importante que es entrenar de manera efectiva y segura para alcanzar tus objetivos de salud y acondicionamiento físico. Estamos aquí para brindarte toda la orientación y apoyo que necesitas para lograr tus metas. Nuestro compromiso es guiarte a través de un enfoque adecuado para tus entrenamientos, asegurándonos de que obtengas la información necesaria en cada paso del camino.
  </h5>
  
  <ion-card>
    <ion-grid>
      <ion-row>
          <ion-col size="4">  
              <ion-card-content >
                <ion-icon name="barbell"></ion-icon>
              </ion-card-content>
          </ion-col>
          <ion-col size="8">  
            <ion-card-content >
              <h1><br>Hipertrofia</h1>
            </ion-card-content>
        </ion-col>
      </ion-row>

      <ion-row>
        <h5 class="parrafo1">
          Si estás buscando aumentar tu masa muscular, nuestro enfoque se centra en los entrenamientos de hipertrofia. Estos entrenamientos están diseñados para estimular el crecimiento muscular a través de ejercicios específicos, repeticiones y series que desafían tus músculos de manera gradual y progresiva. Trabajaremos contigo para desarrollar una rutina de hipertrofia que se adapte a tus necesidades y capacidades individuales.
        </h5>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
          <ion-col size="4">  
              <ion-card-content >
                <ion-icon name="walk-outline"></ion-icon>
              </ion-card-content>
          </ion-col>
          <ion-col size="8">  
            <ion-card-content >
              <h1><br>Fuerza</h1>
            </ion-card-content>
        </ion-col>
      </ion-row>

      <ion-row>
        <h5 class="parrafo1">
          Para aquellos que buscan mejorar su fuerza, nuestros entrenamientos están diseñados para optimizar el desarrollo de la fuerza muscular. A través de ejercicios compuestos y técnicas de entrenamiento específicas, te ayudaremos a aumentar tu fuerza general de manera segura y efectiva. Te proporcionaremos un plan de entrenamiento estructurado que aborde diferentes grupos musculares y te permita alcanzar tus objetivos de fuerza de manera gradual.</h5>
      </ion-row>

    </ion-grid>
  </ion-card>
  
  <ion-card>
    <ion-grid>
      <ion-row>
          <ion-col size="4">  
              <ion-card-content >
                <ion-icon name="walk-outline"></ion-icon>
              </ion-card-content>
          </ion-col>
          <ion-col size="8">  
            <ion-card-content >
              <h1><br>Fuerza</h1>
            </ion-card-content>
        </ion-col>
      </ion-row>

      <ion-row>
        <h5 class="parrafo1">
          Para aquellos que buscan mejorar su fuerza, nuestros entrenamientos están diseñados para optimizar el desarrollo de la fuerza muscular. A través de ejercicios compuestos y técnicas de entrenamiento específicas, te ayudaremos a aumentar tu fuerza general de manera segura y efectiva. Te proporcionaremos un plan de entrenamiento estructurado que aborde diferentes grupos musculares y te permita alcanzar tus objetivos de fuerza de manera gradual.</h5>
      </ion-row>

    </ion-grid>
  </ion-card>

</ion-content>


