<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>proteina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card *ngFor="let comida of comidas">
    <ion-card-header>
      <ion-card-title>{{comida.name}}</ion-card-title>
      <ion-card-subtitle style="text-align: justify;">{{comida.nutrientes}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="text-align: justify;">
      <img style="width: 100%; height: auto; max-height: 300px;" [src]="comida.imagen"/>
      {{comida.descripcion}}
    </ion-card-content>
  </ion-card>
  
  

</ion-content>
